/*common css start */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #999999;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

.slide_button{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	height: 60px;
    width: 155px;
    line-height: 60px;
    background-color: #fafafa;
    display: inline-block;
    text-align: center;
}
.white_h2{
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}

.gray_h2{
	font-size: 24px;
	font-weight: 700;
	color: #777777;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}

.blue_h2{
	font-size: 24px;
	font-weight: 700;
	color: #3baafe;
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}

h3{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.gray_h3{
	font-size: 18px;
	font-weight: 700;
	color: #777777;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}
.white_h3{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
}

.white_underline{
	position: absolute;
	height: 5px;
	width: 50px;
	background-color: #fff;
	bottom: -10px;
	right: -10px;
}

.gray_underline{
	position: absolute;
	height: 5px;
	width: 50px;
	background-color: #b6b6b6;
	bottom: -10px;
	right: -10px;
}
.blue_underline{
	position: absolute;
	height: 5px;
	width: 50px;
	background-color: #3baafe;
	bottom: -10px;
	right: -10px;
}


.c_h4{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
.c_p{}


.gap-10{
	gap: 10px;
}

.mb-30{
	margin-bottom: 30px;
}
.mb-40{
	margin-bottom: 40px;
}

.mb-45{
	margin-bottom: 45px;
}

.mb-70{
	margin-bottom: 70px;
}

.mb-85{
	margin-bottom: 85px;
}

.gray{
	background-color: #ebebeb;
}
.light-gray{
	background-color: #f5f5f5;
}
.mt-85{
	margin-top: 85px;
}


.ml-15{
	margin-left: 15px;
}
/* common css end */

/* header css start */
header{}
.custom_nav{
	background-color: #fafafa;
}
.logo{}
.menu{}
.menu ul{}
.menu ul li{}
.menu ul li a{
	text-transform: uppercase;
	margin-left: 35px;
	border-bottom: 3px solid transparent;
	color: #999999;
}
.menu ul li a:active{
	border-bottom: 3px solid #3baafe;
}
.menu ul li a:hover{	
	border-bottom: 3px solid #3baafe;
}
/* header css end */

/* slider section css start */
.carusel_item{}
.carusel_item img{
	position: relative;
}
.slide_content{
	position: absolute;
    top: 50%;
    right: 115px;
    transform: translateY(-50%);
    text-align: right;
}
.slide_content h1{
	font-size: 48px;
	font-weight: 800;
	line-height: 1.25;
	color: #fff;
	margin-bottom: 20px;
}
.gray_h1{
	color: #e6e6e6;
}
.blue_h1{
	color: #3baafe;
}
.slide_content a{
	text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #777777;
    transition: 0.3s
}
.slide_content a:hover{
	background-color: #777777;
	color: #fff;
}
.learn_more{
	margin-left: 20px;
}

/* slider section css end */

/* best-we css start */
.best-we{
	padding: 80px 0;
}
.best-we-inner{
	background-color: #f5f5f5;
	padding: 20px 30px;
	word-break: break-all;
	transition: 0.3s !important;
}

.best-we-inner h3{
	margin-bottom: 30px;
}


.best-we-inner:hover .best-we-icon i{
	background-color: #3baafe;
}
.best-we-inner:hover .white_underline{
	background-color: #3baafe;
}

.best-we-icon{
	margin: -50px auto 20px;
    background-color: #fff;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    position: relative;
}
.best-we-icon i{
	font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #555555;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.best-we-inner p{}
/* best-we css  end */

/* why-choose-us section css start */
.why-choose-us{
	background-color: #f5f5f5;
}
.why-choose-us-inner{}

.why-choose-us-inner h2{
	margin: 60px 0;
	color: #fff;
}

.why-choose-us-inner p{
	margin-bottom: 45px;
}
.wcu-icon{
	background-color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 24px;
}
.wcu-icon:hover{
	color: #3baafe;
}
/* why-choose-us section css end */

/* what-we-do section css start */
.what-we-do{
	margin-bottom: 60px;
}
.what-we-do-inner{}
.what-we-do-icon{
	justify-content: center;
}
.what-we-do-icon img{
	height: 24px;
}
.what-we-do-icon h2{}
.what-we-do-single{}
.what-we-do-single-icon{
	margin-bottom: 10px;
}
.what-we-do-single-icon i{
	background-color: #555555;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
}
.what-we-do-single p{
	margin-bottom: 30px;
}
.wwd_icon:hover{
	background-color: #3baafe;
}

/* what-we-do section css end

/* how-we-work section css start */
.how-we-work{
	background: url('../images/how-we-work-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 80px 0;
}

.how-we-work-inner{
	background-color: rgb(245 245 245 / 75%);
	padding: 45px 25px;
}

.how-we-work-inner h2{
	color: #777777;
	margin-bottom: 35px;
}
.hww_icon{
	height: 35px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	opacity: 1;
}
/* how-we-work section css end */

/* meet-our-team section css start */
.team-inner{
	background-color: #f5f5f5;
   margin: 20px;
}
.team-left{
	width: 100%;
	max-width: 155px;
}
.team-left img{
	border: 10px solid #e6e6e6;
	width: 135px;
	margin-top: -20px;
}

.team-left:hover ~ .team-right .team-name h4{
	color: #3baafe;	
}

.team-left ul li a{
	height: 35px;
	width: 35px;
	line-height: 35px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	background-color: #fff;
	font-size: 18px;
	text-decoration: none;
	color: #555555;
	margin: 5px 0;
	transition: 0.3s;
}
.team-left ul li a:hover{
	color: #3baafe; 
}
.team-right{}
.team-name{
	margin-top: 20px;
	margin-left: -15px;
	width: 180px;
    min-height: 50px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #fff;
}
.team-name,.team-designation h4{
	padding-top: 10px;
    padding-left: 10px;
}
.team-designation{
	margin-top: -15px;
	margin-left: -15px;
	width: 150px;
    min-height: 35px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 85% 100%, 100% 0);
    background: #e6e6e6;
}
.team-right p{
	margin-top: 20px;
}

/* meet-our-team section css end */

/* quality-of-our-work section css start */
.quality-of-our-work{
	background: rgb(250,250,250);
	background: linear-gradient(100deg, rgba(250,250,250,1) 50%, rgba(238,238,238,1) 50%);
}

.quality-of-our-work img{
	padding: 75px 50px 75px 0;
}
.qoow-right{
	padding: 60px 0 60px 45px;
}

.qoow-right h2{
	margin-bottom: 40px;
}
.qoow-right p{
	margin-bottom: 30px;
}


.qoow-single{}
.qoow-single i{
	height: 35px;
	width: 35px;
	line-height: 35px;
	color: #555555;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	font-size: 14px;
	transform: rotate(180deg)
}
/* quality-of-our-work section css end */

/* posrtfolio section css start */
.portfolio{

}
.portfolio-inner{}
.portfolio-icon{}
.portfolio-sigle{
	position: relative;
	margin: 1px !important;
}
.portfolio-sigle:hover .overlay-icon{
	transform: scale(1);
}
.portfolio-sigle:hover ul{
	opacity: 1;
}
.portfolio-sigle img{}
.overlay-icon{
	background-color: rgba(59, 170, 254, 0.5);
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: scale(0);    
    transition: 0.5s;
}
.overlay-icon ul{
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}
.overlay-icon ul li a{
	color: white;
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	color: #777777;
	background-color: #fff;
}
.rotate-icon{
	transform: rotate(90deg);
}
/* posrtfolio section css end */

/* best-work-environment section css start */
.best-work-environment{
	background: url('../images/best-work-environment-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-black-op{
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
}
.best-work-environment-inner h3{
	margin: 40px 0;
	color: #fff;
	display: inline-block;
}
/* .best-work-environment-inner h3::after{
    background-color: #3baafe;
    top: 25px;
    right: -10px;
} */
.best-work-environment-inner p{}
.single-bwe{
	margin-bottom: 30px;
}
.single-bwe-inner{}
.single-bwe-inner i{
	color: #fff;
}
.single-bwe-inner h4{
	color: #fff;
}
/* best-work-environment section css end */

/* from-our-blog section css start */
.from-our-blog{}
.from-our-blog-inner{}
.from-our-blog-inner img{}
.from-our-blog-inner h2{}

.card{
	border-radius: 0;
}
.card img{
	border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-footer{

}
.card-footer ul{
	
}
.card-footer ul li{
}
.card-footer ul li a{
	text-decoration: none;

	color: #999999;
}
.card-footer ul li a:hover{
	color: #3baafe;
}
.blog-slider-button .left-button .prev-button,.next-button{
	border-radius: 50%;
	background-color: #555555;
	
}
.blog-slider-button .left-button i{
	height: 35px;
	width: 35px;
	line-height: 35px;
	color: #fff;
}
.blog-slider-button .left-button i:hover{
	color: #3baafe;
}
.blog-slider-button .right-button .viewall-btn{
	height: 35px;
	width: 115px;
	background-color: #555555;
	color: #fff;
}
.blog-slider-button .right-button .viewall-btn:hover{
	color: #3baafe;
}

/* from-our-blog section css end */

/* our-price section css start */

.our-price{}

.price-inner{}
.price-inner:hover.price-inner ul li h3{
	color: #3baafe;
}
.price-inner ul{}

.price-inner ul li{
	display: block;
	text-align: center;
	width: 100%;

}
.price-inner ul li h3{
	color: #fff;
    padding: 15px 0;
}

.price-inner ul li p{
	text-transform: uppercase;
	padding: 15px 0;
}
.price-table-1 ul li h3{
	background-color: #e6e6e6 !important;
}

.price-table-2 ul li h3{
	background-color: #b6b6b6 !important;
}

.price-table-3 ul li h3{
	background-color: #999999 !important;
}

.price-table-4 ul li h3{
	background-color: #777777 !important;
}


.price-inner ul li:nth-child(odd){
	background-color: #f5f5f5;
}
.price-inner ul li:nth-child(even){
	background-color: #fafafa;
}
.price-inner ul li:last-child{
	background-color: #e6e6e6;	
}
/* .price-inner ul li:last-child:hover{
	background-color: #3baafe;	
} */


.price-inner ul li p span{
	font-size: 30px;
	font-weight: 700;
}
.price-inner ul li a{
	background: transparent;
    border-color: transparent;
    height: 50px;
    align-items: center;
    color: #777777;
    font-weight: 700;
    text-transform: uppercase;
    display: grid;
    border-radius: 0;
}
.price-inner ul li a:hover{
	background-color: #3baafe;
	color: #fff;
}
.price-inner ul li a:focus{
	box-shadow: none;
}

/* our-price section css end */

/* our-partner section css start */
.partner-card{
	background-color: rgba(230, 230, 230, .25);
	border: none;
}
/* our-partner section css end */


/* footer section css start */
footer{
	background-color: #555555;
	padding-top: 35px;
}
.footer-top{}
.footer-1{}
.footer-1 img{
	max-width: 170px;
}
.f_social_icon{}
.f_social_icon ul li a{
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 18px;
	color: #555555;
	background-color: #b6b6b6;
	text-align: center;
	transition: 0.3s;
}
.f_social_icon ul li a:hover{
	color: #fff;
	background-color: #b6b6b6;
}
.address{}
.address h3{
	color: #fff;
}
.address p{}
.address span{}
.address i{}

.usefullinks{}
.usefullinks h3{
	color: #fff;
}
.usefullinks ul li{
	display: block;
}
.usefullinks ul li a{
	text-decoration: none;
	color: #868686;
	transition: 0.3s;
}
.usefullinks ul li a:hover{
	color: #fff;
}
.contact{}
.contact h3{
	color: #fff;
}
.contact form{
	max-width: 100%;
}

.contact .form-control{
	border-radius: 0;
	background-color: #b6b6b6;
	font-size: 14px;
}

.contact .btn{
	border-radius: 0;
	background-color: #999999;
	color: #777777;
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	
}


.copyright-text{
	padding: 15px 0;
	align-items: center;
	border-top: 1px solid #868686;
}
.copyright-text p{}


/* footer section css end */
